<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="authz-service"/>
    <springProperty scope="context" name="appEnvironment" source="app.environment" defaultValue="dev"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":{"name":"${appName}"},"environment":"${appEnvironment}"}</customFields>
            <includeMdc>true</includeMdc>
            <mdcKeyFieldName>traceId=trace_id</mdcKeyFieldName>
            <mdcKeyFieldName>spanId=span_id</mdcKeyFieldName>
            <includeContext>true</includeContext>
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <message>message</message>
                <level>level</level>
                <logger>logger</logger>
                <thread>thread</thread>
            </fieldNames>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE" />
    </root>
</configuration>